body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

.landing {
  height: 100vh; /* Set height to 100% of viewport height */
}

/* nav */
nav {
  position: absolute;
  background-color: transparent;
  z-index: 10;
}

.brand-logo img {
  width: 180px;
  margin-top: 45px;
  margin-left: -15px;
}

.landing_decoration {
  width: 180px;
  margin-top: 45px;
  margin-right: 75px;
}

/* slider */
.slider-content {
  position: absolute;
  padding-left: 310px;
  top: 50%;
  left: 27%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 4;
}

.slider-content h3 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.blue_text {
  color: #25a9bb;
}

.slider-content p {
  margin-bottom: 20px;
  text-wrap: wrap;
  font-size: 20px;
}

.fw-300 {
  font-weight: 300;
}

.text-slider-content {
  width: 50%;
}

.text-slider-content p {
  border-bottom: 2px solid #fff;
  padding-bottom: 5px;
}

.text-slider-content p {
  border-bottom: 2px solid #fff;
}

.slider .indicator-item.active {
  background-color: #1a9da5 !important;
  width: 40px !important;
  border-radius: 4px;
}

.slider .indicators {
  position: relative !important;
  z-index: 4 !important;
}

.slider .indicator-item {
  width: 8px !important;
  height: 8px !important;
  margin-right: -5px !important;
}

.slider.landing-slider {
  position: relative;
  z-index: 1;
  bottom: 0;
}

.slider.landing-slider::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
  position: absolute;
  z-index: 3;
  bottom: 0;
}

.btn-landing {
  background-color: #25a9bb;
  height: max-content;
  padding: 6px 24px 6px 24px;
  font-weight: 700;
  color: #fff;
  border-radius: 54px;
  cursor: pointer;
}

.btn_outline {
  background-color: transparent;
  border: 1px solid #fff;
  height: max-content;
  padding: 6px 24px 6px 24px;
  font-weight: 700;
  color: #fff;
  border-radius: 54px;
  cursor: pointer;
}

.slider-content-image-1 {
  position: absolute;
  bottom: -3.5%;
  left: 5%;
  transform: translate(-50%, -50%);
  z-index: 4;
  width: 200px;
}

.slider-content-image-1 img {
  width: 100%;
}

.slider-content-image-2 {
  position: absolute;
  bottom: -13%;
  right: 0;
  transform: translate(-50%, -50%);
  z-index: 4;
  width: 150px;
}

.slider-content-image-2 img {
  width: 100%;
}

/* service */

.service {
  padding: 50px 0;
}

.container-service {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card-service {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 0 50px;
  box-shadow: 0px 125px 35px 0px rgba(156, 156, 156, 0.00), 0px 80px 32px 0px rgba(156, 156, 156, 0.01), 0px 45px 27px 0px rgba(156, 156, 156, 0.05), 0px 20px 20px 0px rgba(156, 156, 156, 0.09), 0px 5px 11px 0px rgba(156, 156, 156, 0.10);
}

.card-service .card-content {
  height: 100%; /* Ensure the content fills the entire card */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-service h3 {
  font-size: 35px;
  font-weight: 700;
  color: #5e5e5e;
  margin-bottom: 75px;
}

.service-card-text {
  font-size: 32px;
  font-weight: 700;
  color: #25a9bb;
  line-height: 48px;
}

.service-footer-text {
  width: 650px;
  font-size: 24px;
  font-weight: 500;
  color: #777777;
  line-height: 36px;
}

.util_service {
  position: relative;
  left: 95%;
  width: 40px;
  z-index: 1;
}

.util_service img {
  width: 100%;
}

/* room */
.room {
  margin-top: -130px;
  margin-bottom: 100px;
}

.container-room {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 60px;
}

.room-text-header {
  font-size: 35px;
  font-weight: 700;
  color: #5e5e5e;
}

.mt-50 {
  margin-top: 50px;
}

.card-room {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0px 8px 32px 0px rgba(187, 187, 187, 0.25);
}

.card-content-room {
  width: 100%;
  margin-top: -15px;
}

.card-image-room {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  width: 40%;
  margin: 10px;
}

.card-image-room img {
  width: 100%;
  height: 100%;
}

.btn-image-room {
    position: absolute;
    bottom: 5px;
    left: 5px;
    background: rgba(127, 127, 127, 0.4);
    backdrop-filter: blur(2px);
    height: max-content;
    font-size: 10px;
    font-weight: 700;
    color: #fff;
    border-radius: 54px;
    cursor: pointer;
    text-transform: none;
}

.card-content-text-type {
  font-family: "Caveat", cursive;
  font-size: 20px;
  font-weight: 700;
  color: #ababab;
  line-height: 36px;
}

.card-content-text-room {
  position: relative;
  font-size: 20px;
  font-weight: 600;
  color: #5e5e5e;
  line-height: 36px;
}

.btn-room-order {
  background-color: #25a9bb;
  height: max-content;
  font-weight: 700;
  color: #fff;
  border-radius: 54px;
  cursor: pointer;
  text-transform: none;
}

.icon-card {
    background-image: url("./assets/images/icon_bed.png");
    background-size: cover;
}

.card-content-text-bed {
    font-size: 20px;
    font-weight: 500;
    color: #5e5e5e;
    line-height: 30px;
}

.feature {
    width: 70%;
    margin-top: -10px;
}

.feature-text {
    font-size: 15px;
    font-weight: 500;
    color: #5e5e5e;
    line-height: 30px;
}

.col-feature {
    margin-right: -50px;
}

.card-content-text-amenities {
    font-size: 15px;
    font-weight: 500;
    color: #777777;
    line-height: 30px;
}

.amenities-container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
}

.amenities {
    list-style-type: none; /* Remove default list styles */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

.amenities li {
    margin: 5px; /* Add spacing between items */
    white-space: nowrap; /* Prevent items from wrapping to multiple lines */
    float: left;
    background: rgba(0, 0, 0, 0.04);
    font-size: 12px;
    font-weight: 600;
    color: #5e5e5e;
    padding: 5px 10px;
    border-radius: 20px;
}

/* facility */
.facility-header-content-text {
    font-size: 40px;
    font-weight: 700;
    color: #5e5e5e;
    position : relative;
}

.facility-small-header-container {
    border-bottom: 1px solid #1a9da5;
    width: 50%;
}

.facility-small-header-text {
    font-size: 30px;
    font-weight: 600;
    color: #1a9da5;
    line-height: 50px;
}

.facility-small-content-text {
    font-size: 16px;
    font-weight: 400;
    color: #5e5e5e;
    line-height: 24px;
}

.image-facility img{
    width: 250px;
    height: 250px;
}

.util-nav-6-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 60px;
}

.util-nav-6 {
    left: 95%;
    width: 40px;
}

.util-facility-1 {
    position: relative;
    top: 0;
    left: 76%;
    width: 300px;
    z-index: 1;
    overflow: hidden;
}

.util-facility-2 {
    position: relative;
    top: 0;
    left: -10%;
    width: 400px;
    z-index: 1;
    overflow: hidden;
}


.card-about {
  position: relative;
  padding: 20px;
  margin: 20px;
  box-shadow: none;
  overflow: hidden;
}

.card-about::before,
.card-about::after {
  content: "";
  position: absolute;
  background-color: transparent;
}
.card-about::before {
  border-top: 2px solid #25a9bb;
  border-left: 2px solid #25a9bb;
}

.card-about::after {
  border-bottom: 2px solid #25a9bb;
  border-right: 2px solid #25a9bb;
}

.card-about::before {
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  border-top-left-radius: 20px;
  z-index: 1;
}

.card-about::after {
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
  border-bottom-right-radius: 20px;
  z-index: 1;
}

.card-testimoni {
  border-radius: 20px;
  border: 2px solid #25a9bb;
}

/* .carousel { */
  /* background-color: yellow; */
  /* height: 320px; */
/* } */
 /* .carousel {
  transform: rotate(90deg) translateY(-20%) translateX(-80%)
}

.carousel .carousel-item img {
  transform: rotate(-90deg);
}  */

.carousel .indicators {
  position: relative !important;
  /* background-color: black; */
  margin-top: 270px;
}

.carousel .indicator-item.active {
  background-color: #1a9da5 !important;
  width: 40px !important;
  border-radius: 4px;
}

.carousel .indicator-item {
background-color: rgba(37, 169, 187, 0.32) !important;
  width: 8px !important;
  height: 8px !important;
}

.bg-facility {
  background-color: white; 
  border-radius: 50%; 
  width: 100%; 
  padding-top: 10px; 
  padding-bottom: 5px; 
  box-shadow: 0px 8px 32px 0px rgba(187, 187, 187, 0.25);
}