body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

/* Common styles */
.landing {
  height: 100vh; /* Set height to 100% of viewport height */
}

/* nav */
nav {
  position: absolute;
  background-color: transparent;
  z-index: 10;
}

.brand-logo img {
  width: 180px;
  margin-top: 45px;
  margin-left: -15px;
}

.landing_decoration {
  width: 180px;
  margin-top: 45px;
  margin-right: 75px;
}

@media (max-width: 1024px) {
  .brand-logo img {
    width: 300px;
    margin-top: 30px;
    margin-left: -15px;
  }

  .landing_decoration {
    width: 150px;
    margin-top: 30px;
    margin-right: 50px;
  }
}
@media (max-width: 992px) {
  .brand-logo img {
    width: 300px;
    margin-top: 30px;
    margin-left: -400px;
  }

  .landing_decoration {
    width: 150px;
    margin-top: 30px;
    margin-right: 50px;
  }
}

@media (max-width: 850px) {
  .brand-logo img {
    width: 250px;
    margin-top: 30px;
    margin-left: -300px;
  }

  .landing_decoration {
    width: 120px;
    margin-top: 30px;
    margin-right: 45px;
  }
}

@media (max-width: 600px) {
  .brand-logo img {
    width: 200px;
    margin-top: 30px;
    margin-left: -150px;
  }

  .landing_decoration {
    width: 100px;
    margin-top: 30px;
    margin-right: 45px;
  }
}

@media (max-width: 400px) {
  .brand-logo img {
    width: 150px;
    margin-top: 30px;
    margin-left: -150px;
  }

  .landing_decoration {
    width: 80px;
    margin-top: 30px;
    margin-right: 20px;
  }
}

/* slider */
.slider-content {
  position: absolute;
  padding-left: 310px;
  top: 50%;
  left: 27%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 4;
}

.slider-content h3 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.blue_text {
  color: #25a9bb;
}

.slider-content p {
  margin-bottom: 20px;
  font-size: 20px;
}

.fw-300 {
  font-weight: 300;
}

.text-slider-content {
  width: 50%;
}

.text-slider-content p {
  border-bottom: 2px solid #fff;
  padding-bottom: 5px;
}

.slider .indicator-item.active {
  background-color: #1a9da5 !important;
  width: 40px !important;
  border-radius: 4px;
}

.slider .indicators {
  position: relative !important;
  z-index: 4 !important;
}

.slider .indicator-item {
  width: 8px !important;
  height: 8px !important;
  margin-right: -5px !important;
}

.slider.landing-slider {
  position: relative;
  z-index: 1;
  bottom: 0;
}

.slider.landing-slider::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  position: absolute;
  z-index: 3;
  bottom: 0;
}

.btn-landing {
  background-color: #25a9bb;
  height: max-content;
  padding: 6px 24px;
  font-weight: 700;
  color: #fff;
  border-radius: 54px;
  cursor: pointer;
}

.btn_outline {
  background-color: transparent;
  border: 1px solid #fff;
  height: max-content;
  padding: 6px 24px;
  font-weight: 700;
  color: #fff;
  border-radius: 54px;
  cursor: pointer;
}

.slider-content-image-1 {
  position: absolute;
  bottom: -3.5%;
  left: 5%;
  transform: translate(-50%, -50%);
  z-index: 4;
  width: 200px;
}

.slider-content-image-1 img {
  width: 100%;
}

.slider-content-image-2 {
  position: absolute;
  bottom: -13%;
  right: 0;
  transform: translate(-50%, -50%);
  z-index: 4;
  width: 150px;
}

.slider-content-image-2 img {
  width: 100%;
}

@media (max-width: 1024px) {
  .slider-content {
    padding: 100px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .slider-content h3 {
    font-size: 60px;
  }

  .slider-content p {
    font-size: 30px;
  }

  .slider-content-image-1 {
    width: 150px;
    bottom: 0;
  }

  .slider-content-image-2 {
    width: 100px;
    bottom: -3%;
    right: -3%;
  }

  .btn-landing,
  .btn_outline {
    padding: 20px 16px;  /* Adjust padding for smaller buttons */
    width: 45%;       /* Set desired width for smaller screens */
    font-size: 24px;
    line-height: 30px;
  }
}

@media (max-width: 992px) {
  .slider-content {
    padding: 75px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .slider-content h3 {
    font-size: 50px;
  }

  .slider-content p {
    font-size: 26px;
  }

  .slider-content-image-1 {
    width: 150px;
  }

  .slider-content-image-2 {
    width: 100px;
  }

  .btn-landing,
  .btn_outline {
    padding: 18px 16px;  /* Adjust padding for smaller buttons */
    width: 45%;       /* Set desired width for smaller screens */
    font-size: 22px;
    line-height: 26px;
  }
}

@media (max-width: 850px) {
  .slider-content {
    width: 100%;
    padding: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .slider-content h3 {
    font-size: 40px;
  }

  .slider-content p {
    font-size: 24px;
  }

  .slider-content-image-1 {
    width: 120px;
    bottom: -1%;
  }

  .slider-content-image-2 {
    width: 80px;
    bottom: -4%;
    right: -5%;
  }

  .btn-landing,
  .btn_outline {
    padding: 16px 16px;  /* Adjust padding for smaller buttons */
    width: 45%;       /* Set desired width for smaller screens */
    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-width: 600px) {
  .slider-content {
    padding: 25px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .slider-content h3 {
    font-size: 30px;
  }

  .slider-content p {
    font-size: 16px;
  }

  .slider-content-image-1 {
    width: 100px;
    bottom: -1%;
  }

  .slider-content-image-2 {
    width: 70px;
    bottom: -4%;
    right: -5%;
  }

  /* Adjust button width here */
  .btn-landing,
  .btn_outline {
    padding: 14px 8px;  /* Adjust padding for smaller buttons */
    width: 45%;       /* Set desired width for smaller screens */
    font-size: 12px;
    line-height: 16px;
  }
}

/* service */
.service {
  padding: 50px 0;
  margin-top: 124px;
}

.container-service {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card_row {
  display: flex;
  justify-content: center;
  align-items: center; /* Ensure cards are centered vertically */
  flex-wrap: wrap;
  gap: 50px; /* Add gap between cards */
  margin-bottom: 100px;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0; /* Remove margin to avoid offset */
}

.card-service {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  box-shadow: 0px 125px 35px 0px rgba(156, 156, 156, 0.00), 
              0px 80px 32px 0px rgba(156, 156, 156, 0.01), 
              0px 45px 27px 0px rgba(156, 156, 156, 0.05), 
              0px 20px 20px 0px rgba(156, 156, 156, 0.09), 
              0px 5px 11px 0px rgba(156, 156, 156, 0.10);
}

.card-service .card-content {
  height: 100%; /* Ensure the content fills the entire card */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-service h3 {
  font-size: 35px;
  font-weight: 700;
  color: #5e5e5e;
  margin-bottom: 75px;
}

.service-card-text {
  font-size: 32px;
  font-weight: 700;
  color: #25a9bb;
  line-height: 48px;
}

.service-footer-text {
  width: 650px;
  font-size: 24px;
  font-weight: 500;
  color: #777777;
  line-height: 36px;
  margin: 0 auto; /* Center-align the footer text */
}

.util_service {
  position: relative;
  left: 95%;
  width: 40px;
  z-index: 1;
}

.util_service img {
  width: 100%;
}

@media (max-width: 992px) {
  .service {
    padding: 50px 0;
    margin-top: 100px;
  }

  .container-service {
    margin-top: 50px;
  }

  .container-service h3 {
    font-size: 30px;
    margin-bottom: 50px;
  }

  .card-service {
    width: 120px;
    height: 120px;
  }

  .service-card-text {
    font-size: 28px;
    line-height: 40px;
  }

  .service-footer-text {
    width: 500px;
    font-size: 20px;
    line-height: 32px;
  }

  .util_service {
    width: 50px;
  }
}

@media (max-width: 850px) {
  .service {
    padding: 50px 0;
    margin-top: 80px;
  }

  .container-service h3 {
    font-size: 25px;
    margin-bottom: 50px;
  }

  .card-service {
    width: 100px;
    height: 100px;
  }

  .service-card-text {
    font-size: 24px;
    line-height: 36px;
  }

  .service-footer-text {
    width: 400px;
    font-size: 18px;
    line-height: 30px;
  }

  .util_service {
    width: 40px;
    left: 90%;  
  }
}

@media (max-width: 600px) {
  .service {
    padding: 50px 0;
    margin-top: 50px;
  }

  .container-service h3 {
    font-size: 20px;
    margin-bottom: 50px;
  }

  .card-content img {
    width: 60px;
  }

  .card-service {
    width: 80px;
    height: 80px;
  }

  .service-card-text {
    font-size: 20px;
    line-height: 30px;
  }

  .service-footer-text {
    width: 300px;
    font-size: 16px;
    line-height: 24px;
  }

  .util_service {
    width: 30px;
  }
}


/* room */
.room {
  margin-top: -130px;
  margin-bottom: 100px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.container-room {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.room-text-header {
  font-size: 35px;
  font-weight: 700;
  color: #5e5e5e;
}

.mt-50 {
  margin-top: 50px;
}

.card-room {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0px 8px 32px 0px rgba(187, 187, 187, 0.25);
}

.card-content-room {
  width: 100%;
  margin-top: -15px;
}

.card-image-room {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  width: 40%;
  margin: 10px;
}

.card-image-room img {
  width: 100%;
  height: 100%;
}

.btn-image-room {
    position: absolute;
    bottom: 5px;
    left: 5px;
    background: rgba(127, 127, 127, 0.4);
    backdrop-filter: blur(2px);
    height: max-content;
    font-size: 10px;
    font-weight: 700;
    color: #fff;
    border-radius: 54px;
    cursor: pointer;
    text-transform: none;
}

.room-card-container {
  display: flex;
  justify-content: space-between;
}

.room-text-facility {
  width: 35%;
  justify-content: start;
}

.room-button-facility {
  display: flex;
  width: 65%;
  justify-content: end;
}

.card-content-text-type {
  font-family: "Caveat", cursive;
  font-size: 20px;
  font-weight: 700;
  color: #ababab;
  line-height: 36px;
}

.card-content-text-room {
  position: relative;
  font-size: 20px;
  font-weight: 600;
  color: #5e5e5e;
  line-height: 36px;
}

.btn-room-order {
  background-color: #25a9bb;
  height: max-content;
  font-weight: 700;
  color: #fff;
  border-radius: 54px;
  cursor: pointer;
  text-transform: none;
}

.icon-card {
    background-image: url("./assets/images/icon_bed.png");
    background-size: cover;
}

.card-content-text-bed {
    font-size: 20px;
    font-weight: 500;
    color: #5e5e5e;
    line-height: 30px;
}

.feature {
    width: 70%;
    margin-top: -10px;
}

.feature-text {
    font-size: 15px;
    font-weight: 500;
    color: #5e5e5e;
    line-height: 30px;
}

.col-feature {
    margin-right: -50px;
}

.card-content-text-amenities {
    font-size: 15px;
    font-weight: 500;
    color: #777777;
    line-height: 30px;
}

.amenities-container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
}

.amenities {
    list-style-type: none; /* Remove default list styles */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

.amenities li {
    margin: 5px; /* Add spacing between items */
    white-space: nowrap; /* Prevent items from wrapping to multiple lines */
    float: left;
    background: rgba(0, 0, 0, 0.04);
    font-size: 12px;
    font-weight: 600;
    color: #5e5e5e;
    padding: 5px 10px;
    border-radius: 20px;
}

.room-one-bedroom, .room-studio {
  display: none;
}

@media (max-width: 992px) {
  .room {
    margin-top: -100px;
    margin-bottom: 50px;
  }

  .room-card-container {
    flex-direction: column;
  }

  .room-text-facility {
    width: 100%;
    margin-bottom: 10px;
  }

  .room-button-facility {
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
  }
  .btn-room-order {
    width: 100%;
  }

  .room-text-header {
    font-size: 30px;
  }

  .card-room {
    width: 300px;
  }

  .card-image-room {
    width: 100%;
    margin: 0;
  }

  .card-content-text-type {
    font-size: 18px;
    line-height: 30px;
  }

  .card-content-text-room {
    font-size: 18px;
    line-height: 30px;
  }

  .btn-room-order {
    font-size: 14px;
    border-radius: 40px;
  }

  .feature-text {
    font-size: 14px;
    line-height: 24px;
  }

  .card-content-text-amenities {
    font-size: 12px;
    line-height: 24px;
  }

  .amenities li {
    font-size: 10px;
    padding: 5px 8px;
  }
  
  .col-feature {
    margin-right: 0;
  }

  .feature-text {
    line-height: 16px;
  }
}

@media (max-width: 600px) {
  .room-text-header {
    font-size: 20px;
  }
}

/* facility */
.content-facility {
  background-color: rgba(37, 169, 187, 0.04);
}

.image_util_facility {
  position: absolute; 
  margin-left: 20px; 
  width: 125px;
}

.section-divider-facility {
  width: 100%;
}

.container-facility {
  padding-left: 40px; 
  margin-top: -200px; 
  margin-bottom: 125px;
}

.mt-minus-180 {
  margin-top: -180px;
}

.mt-75 {
  margin-top: 75px;
}

.mt-150 {
  margin-top: 150px;
}

.container-parking {
  margin-top: 150px; 
  z-index: 1; 
  position: relative;
}

.facility-header-content-text {
    font-size: 40px;
    font-weight: 700;
    color: #5e5e5e;
    position : relative;
}

.facility-small-header-container {
    border-bottom: 1px solid #1a9da5;
    width: 50%;
}

.facility-small-header-text {
    font-size: 30px;
    font-weight: 600;
    color: #1a9da5;
    line-height: 50px;
}

.facility-small-content-text {
    font-size: 16px;
    font-weight: 400;
    color: #5e5e5e;
    line-height: 24px;
}

.image-facility img{
    width: 250px;
    height: 250px;
}

.util-nav-6-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 60px;
}

.util-nav-6 {
    left: 95%;
    width: 40px;
}

.util-facility-1 {
    position: relative;
    top: 0;
    left: 76%;
    width: 300px;
    z-index: 1;
    overflow: hidden;
}

.util-facility-2 {
    position: relative;
    top: 0;
    left: -10%;
    width: 400px;
    z-index: 1;
    overflow: hidden;
}

.footer-facility {
  margin-top: -90px;
  background-image: url('./assets/images/gambar_asu_3.png');
  background-size: cover;
  height: 250px;
}

/* about */
.util_nav_8 {
  width: 100%;
  max-width: 200px;
}

.card-about {
  position: relative;
  padding: 20px;
  margin: 20px;
  box-shadow: none;
  overflow: hidden;
}

.card-about::before,
.card-about::after {
  content: "";
  position: absolute;
  background-color: transparent;
}

.card-about::before {
  border-top: 2px solid #25a9bb;
  border-left: 2px solid #25a9bb;
}

.card-about::after {
  border-bottom: 2px solid #25a9bb;
  border-right: 2px solid #25a9bb;
}

.card-about::before {
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  border-top-left-radius: 64px;
  z-index: 1;
}

.card-about::after {
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
  border-bottom-right-radius: 64px;
  z-index: 1;
}

.about-header-text {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
  color: #777777;
  border-bottom: 1px solid #5e5e5e;
  width: 60%;
  margin-top: -2rem;
}

.about-subheader-text {
  font-size: 1.5rem;
  color: #1a9da5;
  line-height: 2rem;
  font-weight: 700;
}

.about-content-text {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #5e5e5e;
}

.card-about .card-content {
  padding: 10px;
}

.image-about {
  width: 100%;
  max-width: none;
  height: auto;
  min-width: 400px;
}

.util_nav_9 {
  width: 5px;
}

@media (max-width: 600px) {
  .card-about {
    width: 100%;
    margin: 0;
  }
  .about-header-text {
    font-size: 20px;
    line-height: 2rem;
    width: 80%;
    margin-top: -1.5rem;
  }

  .about-subheader-text {
    font-size: 17px;
    line-height: 1.75rem;
    margin-bottom: 0;
  }

  .about-content-text {
    font-size: 14px;
    line-height: 1.5rem;
  }

  .util_nav_8 {
    width: 100%;
    max-width: 80px;
  }

  .util_nav_9 {
    width: 2px;
  }

  .image-about {
    width: 100%;
    max-width: none;
    height: auto;
    min-width: 270px;
    src: url('./assets/images/gambar_gaje_about_mobile.png');
  }
}



/* testimonial */
.testimoni-header-text {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  color: #777777;
  margin: 0 auto;
}
.card-testimoni {
  border-radius: 40px;
  border: 2px solid #25a9bb;
}

.icon-indicator {
  cursor: pointer;
}

.width-100 {
  width: 100%;
}

.mt-minus-40 {
  margin-top: -40px;
}

.ml-5-percent {
  margin-left: 5%;
}

.width-5-pixel {
  width: 5px;
}

.testimoni-text {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #777777;
}

@media (max-width: 600px) {
  .testimoni-header-text {
    font-size: 20px;
    line-height: 30px;
  }

  .card-testimoni {
    border-radius: 20px;
  }

  .width-100 {
    width: 100%;
  }

  .mt-minus-40 {
    margin-top: -20px;
  }

  .ml-5-percent {
    margin-left: 0;
  }

  .width-5-pixel {
    width: 2px;
  }

  .testimoni-text {
    font-size: 16px !important;
    line-height: 24px;
  }
}

/* facility */
.carousel .indicators {
  position: relative !important;
  /* background-color: black; */
  margin-top: 270px;
  align-items: center;
}

.util_nav_5 {
  position: absolute; 
  margin-left: 20px; 
  width: 125px
}

.carousel .indicator-item.active {
  background-color: #1a9da5 !important;
  width: 40px !important;
  border-radius: 4px;
}

.carousel .indicator-item {
background-color: rgba(37, 169, 187, 0.32) !important;
  width: 8px !important;
  height: 8px !important;
}

.indicator-wrapper {
  display:flex; 
  justify-content: center; 
  margin-top: 20px;
}

.icon-prev {
  position: absolute; 
  top: 305px; 
  left: 35px; 
  border: 1px solid rgba(198, 198, 198, 1); 
  border-radius: 50%; 
  color: rgba(94, 94, 94, 1);
}

.icon-next {
  position: absolute; 
  top: 305px; 
  right: 35px; 
  border: 1px solid rgba(198, 198, 198, 1); 
  border-radius: 50%; 
  color: rgba(94, 94, 94, 1);
}

.bg-facility {
  border: 15px solid white;
  box-shadow: 0px 8px 32px 0px rgba(187, 187, 187, 0.25);
  border-radius: 24px;
}

.facility-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.facility-container-rtl {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* flex-direction: column-reverse; */
}

.image-facility {
  width: 30%;
}

.text-facility {
  margin-bottom: 100px;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-header-facility {
  padding-left: 40px !important; 
  margin-top: -200px !important; 
  margin-bottom: 125px !important;
}

.footer-facility {
  margin-top: -90px;
  background-image: url('./assets/images/gambar_asu_3.png');
  background-size: cover;
  height: 250px;
}

@media (max-width: 1024px) {
  .util_nav_5 {
    width: 100px;
  }
  .facility-container-rtl {
    flex-direction: column-reverse;
  }
  .image-facility {
    width: 100%;
    text-align: center;
  }
  .text-facility {
    width: 100%;
    margin-top: -50px;
  }
  .indicator-wrapper {
    margin-top: 0px;
  }
  .icon-prev {
    top: 285px;
    left: 250px;
  }
  .icon-next {
    top: 285px;
    right: 250px;
  }
  .facility-small-header-container {
    width: 100%;
  }
  .util-facility-1 {
    display: none;
  }
  .util-facility-2 {
    display: none;
  }
  .container-header-facility {
    padding-left: 40px; 
    margin-top: -100px; 
    margin-bottom: 75px;
  }
  .footer-facility {
    margin-top: -70px;
    background-image: url('./assets/images/gambar_asu_3.png');
    background-size: cover;
    height: 200px;
  }
}

@media (max-width: 992px) {
  .util_nav_5 {
    width: 75px;
  }
  .image-facility {
    width: 100%;
    text-align: center;
  }
  .text-facility {
    width: 100%;
    margin-top: -50px;
  }
  .indicator-wrapper {
    margin-top: 0px;
  }
  .icon-prev {
    top: 285px;
    left: 200px;
  }
  .icon-next {
    top: 285px;
    right: 200px;
  }
  .facility-header-content-text {
    font-size: 30px;
  }
  .facility-small-header-container {
    width: 100%;
  }
  .util-facility-1 {
    display: none;
  }
  .util-facility-2 {
    display: none;
  }
  .container-header-facility {
    padding-left: 40px !important;
    margin-top: -100px !important;
    margin-bottom: 75px !important;
  }
  .footer-facility {
    margin-top: -70px;
    background-image: url('./assets/images/gambar_asu_3.png');
    background-size: cover;
    height: 150px;
  }
}

@media (max-width: 600px) {
  .util_nav_5 {
    width: 50px;
  }
  .image-facility {
    width: 100%;
    text-align: center;
  }
  .text-facility {
    width: 100%;
    margin-top: -50px;
  }
  .indicator-wrapper {
    margin-top: 0px;
  }
  .icon-prev {
    top: 285px;
    left: 90px;
  }
  .icon-next {
    top: 285px;
    right: 90px;
  }
  .facility-header-content-text {
    font-size: 20px;
  }
  .facility-small-header-container {
    width: 100%;
  }
  .util-facility-1 {
    display: none;
  }
  .util-facility-1 {
    display: none;
  }
  .container-header-facility {
    padding-left: 40px !important;
    margin-top: -100px !important; 
    margin-bottom: 75px !important;
  }
  .footer-facility {
    margin-top: -50px;
    background-image: url('./assets/images/gambar_asu_3.png');
    background-size: cover;
    height: 100px;
  }
}

@media (max-width: 400px) {
  .util_nav_5 {
    width: 40px;
  }
  .facility-header-content-text {
    font-size: 20px;
  }
  .icon-prev {
    top: 285px;
    left: 70px;
  }
  .icon-next {
    top: 285px;
    right: 70px;
  }
  .util-facility-1 {
    display: none;
  }
  .util-facility-2 {
    display: none;
  }
  .container-header-facility {
    padding-left: 40px !important;
    margin-top: -100px !important; 
    margin-bottom: 75px !important;
  }
  .footer-facility {
    margin-top: -40px;
    background-image: url('./assets/images/gambar_asu_3.png');
    background-size: cover;
    height: 50px;
  }
}



/* footer */
.footer-container {
  margin-top: 150px;
  padding: 20px;
}

.row-footer {
  border-bottom: 2px solid #c6c6c6;
  display: flex;
  flex-wrap: wrap;
}

.footer-container-text {
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  width: 30%;
}

.footer-container-icon {
  justify-content: end;
  flex-wrap: wrap;
  width: 70%;
}

.footer-text {
  font-size: 36px;
  font-weight: 700;
  color: #5e5e5e;
}

.social-media-section {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.social-media-text {
  margin-right: 10px !important;
  font-weight: 700 !important;
  font-size: 18px !important;
  color: #5e5e5e !important;
}

.social-media-icon {
  border: 2px solid #1a9da5 !important;
  padding: 5px !important;
  color: #1a9da5 !important;
  font-size: 28px !important;
  border-radius: 50% !important;
}

.footer-copyright {
  font-size: 16px;
  font-weight: 500;
  color: #5e5e5e;
  margin-top: 20px;
}



@media screen and (max-width: 600px) {
  .footer-container-text {
    flex-direction: row;
    width: 100%;
  }
  .footer-text {
    font-size: 20px;
  }

  .footer-container-icon {
    flex-direction: row;
    justify-content: start;
    width: 100%;
  }
  .social-media-section {
    justify-content: start;
    flex-wrap: wrap;
  }
  .social-media-text {
    font-size: 16px !important;
    width: 100%;
    margin-bottom: 5px;
  }
}

/* fab */
.rent-btn {
  background-color: #5e5e5e;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-transform: none;
    padding: 15px;
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: auto; /* Adjust width as needed */
    height: auto; /* Adjust height as needed */
    text-align: center; /* Center text horizontally */
}

.fixed-action-btn {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.fixed-action-btn .btn-floating {
  margin-bottom: 10px; /* Space between the buttons */
}

.fixed-action-btn .rent-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
}

@media (max-width: 600px) {
  .rent-btn {
    font-size: 12px;
    padding: 8px;
  }
}

.modal {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 16px 40px 0px rgba(0, 0, 0, 0.32);
  width: 40%;
  height: 100%;
}
.modal-content {
  padding: 20px;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #5e5e5e;
}

.booking-steps {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.booking-steps li {
  display: flex;
  margin-bottom: 20px;
}

.step-icon {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgba(37, 169, 187, 1);
  color: white;
  text-align: center;
  line-height: 60px;
  margin-right: 20px;
  border: 2px solid white;
  box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.16);
}

.text-modal-wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.step-text {
  font-size: 16px;
  font-weight: 600;
  color: rgba(94, 94, 94, 1);
}

.step-text-small {
  font-size: 12px;
  font-weight: 400;
  color: rgba(94, 94, 94, 1);
  margin-top: 5px;
  line-height: 30px;
}

.btn-modal-room {
  background: rgba(37, 169, 187, 1);
  color: white;
  font-size: 20px;
  font-weight: 600;
  padding: 12px 24px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 50%;
}

.btn-modal-room:hover {
  background-color: #14818e;
}

.btn-close-modal {
  background-color: transparent;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-shadow: 0px 16px 40px 0px rgba(0, 0, 0, 0.32);
  color: rgba(119, 119, 119, 1);
  border: none;
  width: 50%;
}

.btn-close-modal:hover {
  background-color: #e0e0e0;
}

.btn-close-modal {
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  background-color: transparent !important;
}

@media (max-width: 992px) {
  .modal {
    width: 80%;
    height: auto;
  }

  .step-icon {
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin-right: 15px;
  }

  .text-modal-wrapper {
    width: 100%;
  }

  .step-text {
    font-size: 14px;
  }

  .step-text-small {
    font-size: 10px;
  }

  .btn-modal-room {
    font-size: 12px;
    padding: 8px 16px;
  }

  .btn-close-modal {
    font-size: 12px;
    padding: 8px 16px;
  }
}

@media (max-width: 850px) {
  .modal {
    width: 80%;
    height: auto;
  }

  .step-icon {
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin-right: 15px;
  }

  .text-modal-wrapper {
    width: 100%;
  }

  .step-text {
    font-size: 14px;
  }

  .step-text-small {
    font-size: 10px;
  }

  .btn-modal-room {
    font-size: 12px;
    padding: 8px 16px;
  }

  .btn-close-modal {
    font-size: 12px;
    padding: 8px 16px;
  }
}

@media (max-width: 600px) {
  .modal {
    width: 80%;
  }

  .step-icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
  }

  .text-modal-wrapper {
    width: 100%;
  }

  .step-text {
    font-size: 14px;
  }

  .step-text-small {
    font-size: 10px;
  }

  .btn-modal-room {
    font-size: 12px;
    padding: 8px 16px;
  }

  .btn-close-modal {
    font-size: 12px;
    padding: 8px 16px;
  }
}